.content{
    margin: auto;
}

#header-container{
    position: relative;
    height: 150px;
}

#header-content{
    position: relative;
    height: 100%;
    border-bottom: 1px solid #dddddd;
}
#nav-container{
    position: relative;
    height: 500px;
    padding-top: 300px;
}
#nav-content{
    display: table;
    vertical-align: middle;
}
.nav-entry{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid #dddddd;
    border-radius: 75px;
}
#profile-entry{
    margin-right: 100px;
}
#blog-entry{
    margin-right: 100px;
}
